/* .contain {
  margin: 2px auto;
  columns: 3;
  column-gap: 3px;
} */

main {
  padding: 80px;
}

.contain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  gap: 8px;

}

.search-container {
  display: flex;
  background: #EEEEEE;
  padding: 12px 8px;
  border-radius: 12px;
  margin-right: 8px;
  width: 33%
}

@media (max-width: 950px) {
  .contain {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .search-container {
    width: 50%;
  }
  
}

@media (max-width: 700px) {
  .contain {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .search-container {
    width: 100%;
  }
  main {
    padding: 16px;
  }
  
}

